version: "3.8"

services:
  web:
    image: images.khorost.tech/sdsandbox-web:latest
    container_name: sdsandbox-web
    restart: unless-stopped
    ports:
      - "3000:80"

  server:
    image: images.khorost.tech/sdsandbox-server:latest
    container_name: sdsandbox-server
    restart: unless-stopped
    ports:
      - "4000:8080"
    environment:
      - DATABASE_URL=${DATABASE_URL}
