version: "3.8"

services:
  web:
    image: images.khorost.tech/sdsandbox-web-beta:latest
    container_name: sdsandbox-web-beta
    restart: unless-stopped
    ports:
      - "3001:80"

  server:
    image: images.khorost.tech/sdsandbox-server-beta:latest
    container_name: sdsandbox-server-beta
    restart: unless-stopped
    ports:
      - "4001:8080"
    environment:
      - DATABASE_URL=${DATABASE_URL_BETA}
